@model IEnumerable<modelfirstproje0205.Models.Personel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Yeni Personel Ekle", "Create",null,new { @class = "btn btn-outline-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unvan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proje)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unvan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proje)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonelNo }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonelNo }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
